<div class="form-group">
<%= form_for([@user, @listing]) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'What are you selling?' %><br>
    <%= f.text_field :name, placeholder: 'EG Carrot' %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => "30x12", placeholder: 'Describe something about what you\'re listing... where it came from, whether you used pestides, if its an heirloom variety etc... ' %>
  </div>
  <div class="field">
    <%= f.label :location, "Surburb and state where the buyer will pick up from..." %><br>
    <%= f.text_field :location %>

    <%= f.radio_button(:location_state, "NSW") %>
    <%= f.label(:location_state, "NSW") %>
    <%= f.radio_button(:location_state, "QLD") %>
    <%= f.label(:location_state, "QLD") %>
    <%= f.radio_button(:location_state, "NT") %>
    <%= f.label(:location_state, "NT") %>
    <%= f.radio_button(:location_state, "WA") %>
    <%= f.label(:location_state, "WA") %>
    <%= f.radio_button(:location_state, "SA") %>
    <%= f.label(:location_state, "SA") %>
    <%= f.radio_button(:location_state, "VIC") %>
    <%= f.label(:location_state, "VIC") %>
    <%= f.radio_button(:location_state, "ACT") %>
    <%= f.label(:location_state, "ACT") %>


  </div>
  <div class="field">
    <%= f.label :transaction_type %><br>

    <%= f.radio_button(:transaction_type, "grab") %>
    <%= f.label(:transaction_type, "Grab (Giving away for free)") %><br />

    <%= f.radio_button(:transaction_type, "swap") %>
    <%= f.label(:transaction_type, "Swap for something else (specify in your description)") %><br />

    <%= f.radio_button(:transaction_type, "buy") %>
    <%= f.label(:transaction_type, "Sell for cash") %>
    <%= f.label :cost, ' -- How much for? (Round to the nearest dollar)' %>
    <%= f.number_field :cost %>
</div>

  <div class="field">
    <%= f.label :expiry %><br>
    <%= f.datetime_select :expiry %>
  </div>
  <div class="field">
    <%= f.label :pictures, 'Add a picture of what you\'re offering!' %><br>
    <%= f.text_field :pictures %>
  </div>
  <div class="field">
    <% f.hidden_field :sold, :value => false %>
  </div>
  <div class="field">
    <% f.hidden_field :sold_to, :value => 'No one yet!' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-danger' %>
  </div>
<% end %>
</div>
