<h1>Available produce:</h1>



    <% @listings.each do |listing| %>
    <div class="listview">
        <div class="listimage">
          <%= image_tag listing.pictures %>
        </div>
        <div class="listcontent">
        <h3><%= listing.name %> x <%= listing.amount %> </h3>
        <em>Listed by <%= listing.user_id %> in <%= listing.location %>, <%= listing.location_state %></em>
        <br /><p><%= listing.transaction_type %></p>
        <p>Expires on <%= listing.expiry %></p>
        <h6><%= link_to 'View', listing_path(listing) %> | <%= link_to 'Edit', edit_listing_path(listing) %> | <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></h6>
        </div>
      
      </div>
    <% end %>


<br>


<%= link_to "Make a new listing", new_user_listing_path(@user), :class => 'btn btn-default' if @user.present? %>