<p id="notice"><%= notice %></p>

<p>
  <strong>Goods type:</strong>
  <%= @listing.goods_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @listing.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @listing.transaction_type %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @listing.cost %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @listing.expiry %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @listing.pictures %>
</p>

<p>
  <strong>Location state:</strong>
  <%= @listing.location_state %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @listing.sold %>
</p>

<p>
  <strong>Sold to:</strong>
  <%= @listing.sold_to %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
