<p id="notice"><%= notice %></p>

<div class="listingbanner" style="background-image: url('<%= @listing.pictures %>');">
<div class="listingheading">
<h1><%= @listing.name %></h1>
<h2>offered by <%= @listing.user_id %></h2>
</div>
</div>

<h3>
  <%= @listing.amount %> <%= @listing.name%> located in <%= @listing.location %>, <%= @listing.location_state %>
</h3>


  <% if @listing.sold == true %>
  <h3>This item is sold.</h3>
  <% else %>
  <p>
  <strong>This listing is offered until:</strong>
  <%= @listing.expiry %>
  </p>
  <% end %>
</p>

  <p><strong><%= @listing.user_id %>'s <%= @listing.name %> is to <%= @listing.transaction_type %></strong></p>

<% if @listing.cost != nil %>
  <p><strong>Price offered:</strong><br />
  $<%= @listing.cost %></p>
<% end %>

<p><%= @listing.description %></p>

<p>
  <strong>Pictures:</strong>
  <%= image_tag @listing.pictures, :width => '300' %>
</p>



<% if @listing.sold == true %>
<p>
  <strong>Sold to:</strong>
  <%= @listing.sold_to %>
</p>
<% else %>
<% end %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
