


<div class="listingbanner" style="background-image: url('<%= @listing.pictures %>');">
<div class="listingbanneroverlay">
<div class="listingheading">
<h1><%= @listing.name %></h1>
<h3>offered by <%= @listing.user.username %></h3>
</div>
</div>

</div>

<div class="listingcontent">
<h3>
  <%= @listing.amount %> <%= @listing.name%> located in <%= @listing.location %>, <%= @listing.location_state %>
</h3>


  <% if @listing.sold == true %>
  <h3>This item is sold.</h3>
  <% else %>
  <p>
  <strong>This listing is offered until:</strong>
  <%= @listing.expiry %>
  </p>
  <% end %>
</p>

  <p><strong><%= @listing.user.username %>'s <%= @listing.name %> is to <%= @listing.transaction_type %></strong></p>

<% if @listing.cost != nil %>
  <p><strong>Price offered:</strong><br />
  $<%= @listing.cost %></p>
<% end %>

<p><%= @listing.description %></p>

<p>
  <%= image_tag @listing.pictures, :width => '300' %>
</p>



<% if @listing.sold == true %>
<p>
  <strong>Sold to:</strong>
  <%= @listing.sold_to %>
</p>
<% elsif current_user != @listing.user || current_user == nil %>
<!-- not working yet, need to pass params -->
<!--   <%= button_to 'Reserve & Collect', controller: '/pages', action: :orderConfirm, :method => get, :params => (user_id, listing_id, @listing.name), :class => 'btn btn-success' %><br /><br /> -->

<% end %>



<div class="btn-group">
<%= link_to 'Edit', edit_listing_path(@listing), :class => 'btn btn-success' if user_signed_in? && current_user == @listing.user %>
<%= link_to 'Back', listings_path, :class => 'btn btn-default' %>
<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' if user_signed_in? && current_user == @listing.user %>
</div>

</div>
