<div class="formwrapper">

<%= form_for(current_user) do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% current_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <p><%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %></p>
  </div>
  <div class="form-group">
    <p><%= f.label :username %><br>
    <%= f.text_field :username, :class => 'form-control' %></p>
  </div>
  <div class="form-group">
    <p><%= f.label :home_location, 'Suburb you live in:' %><br>
    <%= f.text_field :home_location, :class => 'form-control' %></p>
  </div>
    <div class="form-group">
    <p><%= f.label :home_state, 'State where you live:' %><br>
    <%= f.radio_button(:home_state, "NSW") %>
    <%= f.label(:home_state, "NSW") %>
    <%= f.radio_button(:home_state, "QLD") %>
    <%= f.label(:home_state, "QLD") %>
    <%= f.radio_button(:home_state, "NT") %>
    <%= f.label(:home_state, "NT") %><br />
    <%= f.radio_button(:home_state, "WA") %>
    <%= f.label(:home_state, "WA") %>
    <%= f.radio_button(:home_state, "SA") %>
    <%= f.label(:home_state, "SA") %>
    <%= f.radio_button(:home_state, "VIC") %>
    <%= f.label(:home_state, "VIC") %>
    <%= f.radio_button(:home_state, "ACT") %>
    <%= f.label(:home_state, "ACT") %>
  </div>
  <div class="form-group">
  <p><%= f.label :merchant_type, "What kind of person describes you best?" %><br><br />
      <%= f.radio_button(:merchant_type, "Gardener") %>
      <%= label_tag(:merchant_type, "Casual Gardener/ Novice") %><br /><br />

      <%= f.radio_button(:merchant_type, "Pro") %>
      <%= label_tag(:merchant_type, "Pro gardener with lots of excess") %><br /><br />

      <%= f.radio_button(:merchant_type, "Business owner") %>
      <%= label_tag(:merchant_type, "Small business or local business owner") %>
  </div>
  <div class="form-group">
    <p><%= f.label :avatar %><br>
    <%= f.text_field :avatar, :class => 'form-control' %></p>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>

</div>
