


<div class='profile'>
  <div class='profilepicture'><%= image_tag @user.avatar %></div>

  <h2><%= @user.name %> <small>A. K. A <%= @user.username %></small></h2>
  <h3><%= @user.merchant_type %></h3>

  <p><strong>From: </strong><%= @user.home_location %>, <%= @user.home_state %></p>
  <p><%= @user.username %> has made <%= @user.purchases || '0' %> transactions with Forage, and listed <%= @user.listings.count %> items!</p>

</div>


<div class="btn-group">
<%= link_to 'Edit Profile', edit_user_path(@user), :class => 'btn btn-success' if user_signed_in? && current_user == @user %>
<%= link_to 'Back', users_path, :class => 'btn btn-default' %>
<%= link_to 'Create listing', new_user_listing_path(@user), :class => 'btn btn-default' if user_signed_in? && current_user == @user %>
</div>
