<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Home location:</strong>
  <%= @user.home_location %>
</p>

<p>
  <strong>Purchases:</strong>
  <%= @user.purchases %>
</p>

<p>
  <strong>Merchant type:</strong>
  <%= @user.merchant_type %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Create listing', new_user_listing_path(@user) %>
