<!DOCTYPE html>
<html>
<head>
  <title>Forage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<header>
		<nav class="navbar navbar-inverse" role="navigation">>
			 <%= render partial: 'application/nav'%> 
		</nav>

	</header>

	<%= yield %>

	</div>
</body>
</html>
